<!doctype html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description | strip_html | strip_newlines }}">
    {% seo title=false %}
    <link rel="icon" href="{{ '/favicon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body class="{% if page.print_resume %}resume-body{% endif %}">
    {% include header.html %}
    <main id="content">
      {{ content }}
    </main>
    {% unless page.print_resume %}
      {% include footer.html %}
    {% endunless %}
  </body>
</html>
